<div *ngIf="proveedorConProductos">
  <h2>{{ proveedorConProductos.nombre }}</h2>
  {{ proveedorConProductos.id }} - {{ proveedorConProductos.nombre }} - {{ proveedorConProductos.email }} - {{ proveedorConProductos.telefono }} - {{ proveedorConProductos.direccion }}
</div>
<ul *ngIf="proveedorConProductos?.productos">
  <h2>Productos:</h2>
  <li *ngFor="let producto of proveedorConProductos?.productos">
    {{ producto.nombre }} - {{ producto.descripcion }} - ${{ producto.precio }}
  </li>
</ul>
<p *ngIf="!proveedorConProductos?.productos">No hay productos asociados a este proveedor.</p>
