<div class="container mt-5">
  <!-- container: Centra y alinea el contenido dentro de un ancho máximo predefinido. Funciona como contenedor.  -->
  <!-- mt-5: margin-top: 3rem -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- row: se utiliza para contener columnas -->
    <!-- row-cols-1: una columna en pantallas pequeñas -->
    <!-- row-cols-md-3: Modifica la cuadrícula para tamaños de pantalla medianos (md) y grandes. 3 columnas por fila  -->
    <!-- g-4: espacio entre columnas 1.5rem -->
    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>

    <div class="col">
      <div class="categoria-card">
        <div class="cuadrado"></div>
        <p class="nombre-categoria">Categoría</p>
      </div>
    </div>
  </div>
</div>
